<h2>Iniciar sesión</h2>
<form action="/api/sessions/login" method="post">


<label for="email">Email</label>
<input type="text" name="email" required>

<label for="password">Passowrd</label>
<input type="password" name="password" required>

<button type="submit">Ingresar</button>

</form>

<a href="/register">Registrarse</a>