<h2>Perfil del usuario</h2>
<p>Nombre: {{user.first_name}}</p>
<p>Apellido: {{user.last_name}}</p>
<p>Edad: {{user.age}}</p>
<p>Correo electrónico: {{user.email}}</p>

<form action="/api/sessions/logout" method="post">
<button type="submit">Cerrar sesión</button>
</form>